*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}
.section{
    width:100%;
    min-height:100vh;
    background-color: #ddd;
}
.container{
    width:80%;
    display:block;
    margin:auto;
    padding-top:100px;
}
.content-section{
    float:left;
    width:55%;
}
.image-section{
    float:right;
    width:40%;   
}
