*{
    margin: 0%;
    padding: 0%;
}

#head{
    background-color: #1c3e41;
    color: #E3EDD8;    
    position: fixed;
    height:50px;
    width: 100%;    
}

#head a{
    text-decoration: none;
    transition: .9s ease-in-out;
}

#email{
    float:right;
    margin: 15px 20px 0px 0px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}    

#name{
    float:left;
    margin: 15px 0px 0px 20px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    transition: .5s ease-in-out;
}

#name:hover{
    text-decoration: overline;
    margin-top: 5px;
    /* font-size: 20px; */
}

.main{
    float: left;
    margin: 50px 0px 0px 0px;
    padding: 0px 0px 20px 20px;
    height: 100%;
    width: 1329px;
    font-size: 16px;
    background-color: #E3EDD8;
}

.main li{
    margin: 5px 0px 5px 30px;
}

h3{
    text-decoration: underline;
    margin: 20px 0px 20px 5px;
}

td, th{
    padding: 2px;
    border: 1px solid #ff0000;
    width: 200px;    
}

.tag-name{
    font-weight:bold;
}
